.product-cart {
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.product-cart img {
  width: 280px;
  height: 280px;
  margin: 10px;
  border-radius: 8px;
}
.product-info {
  margin-left: 15px;
}
.name {
  font-weight: 400;
  font-size: 21px;
  margin: 0 0 10px 0;
}
.product-info p {
    margin: 3px 0;

}
.add-btn {
    width: 100%;
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    background-color: #FFE0B3;
}
